<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="bucket3" transaction-type="RESOURCE_LOCAL">

        <class>com.company.bucket3.entity.User</class>
        <class>com.company.bucket3.entity.Bucket</class>
    </persistence-unit>
</persistence>
